<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->

<!-- FOOTER -->
<footer class="text-center">
  <p><a href="#">Back to top</a></p>
  <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>