<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(<%= asset_path('banner/about-bg.jpg') %>)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>About Me</h1>
          <hr class="small">
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <em>
      <p>From tomorrow on, I will be a happy man
        <br/>Grooming, chopping, and traveling all over the world
        <br/>From tomorrow on, I will care foodstuff and vegetable
        <br/>Living in a house towards the sea, with spring blossoms
      </p>
      <p>From tomorrow on, write to each of my dear ones
        <br/>Telling them of my happiness
        <br/>What the lightening of happiness has told me, I will spread it to each of them
      </p>
      <p>Give a warm name for every river and every mountain
        <br/>Strangers, I will also wish you happy
        <br/>May you have a brilliant future
        <br/>May your lovers eventually become spouse
        <br/>May you enjoy happiness in this earthly world
        <br/>I only wish to face the sea, with spring flowers blossoming
      </p>
      </em>
    </div>
  </div>
</div>